:root {
  --basic-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-accent-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-social-links: rgba(255, 255, 255, 0.1);
  --basic-background-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --hero-background-color: rgba(47, 48, 58, 0.4);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-v17-latin-700.woff2') format('woff2'),
    url('../fonts/raleway-v17-latin-700.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('./fonts/roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-900.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--basic-background-color);
}

.page-header {
  border: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

p {
  margin: 0;
}

img {
  display: block;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  margin-right: 85px;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-accent-logo-color);
}

.logo span {
  color: var(--accent-color);
}

footer .logo {
  color: var(--white-text-color);
}

/* Навигация */
.container.main-nav {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.item.nav {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;
}

.item.nav .current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  content: '';
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav.list {
  display: flex;
}

.nav.list .item:not(:last-child) {
  margin-right: 50px;
}

.contacts.list {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.contacts.list .item:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--basic-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.overlay {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  background-image: linear-gradient(
      to bottom,
      var(--hero-background-color),
      var(--hero-background-color)
    ),
    url('../img/header.jpg');

  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.button {
  display: inline-flex;
  justify-content: center;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
  background: var(--accent-color);

  transform: scale(1);
  transition: scale var(--transition-duration) var(--transition-timing-function);
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transform: scale(1.05);
}

.btn-wrap {
  text-align: center;
}

.btn-submit:disabled,
.btn-submit:disabled:hover {
  background-color: var(--basic-text-color);
  color: var(--title-text-color);
}

/* Преимущества */
.section-title.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

section.advantages {
  padding-top: 94px;
  padding-bottom: 0;
}

.list.advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

/* .advantages-item:not(:last-child) {
	margin-right: 30px;
} */

.advantages-item::before {
  display: block;
  content: '';
  height: 120px;
  border-radius: 4px;

  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-background-color);
}

.icon-sputnik::before {
  background-image: url(../img/svg/спутник.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/часы.svg);
}

.icon-monitor::before {
  background-image: url(../img/svg/монитор.svg);
}

.icon-cosmonaut::before {
  background-image: url(../img/svg/космонавт.svg);
}

.advantages-title {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.advantages-text {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--basic-text-color);
}

/*  Деятельность */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.list.work {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

/* .work-item:not(:last-child) {
	margin-right: 30px;
} */

.work-box {
  position: relative;
}

.work-box-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.work-title {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
}

/* Наша команда */

.section.team {
  background-color: var(--accent-background-color);
}

.list.team {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background: var(--basic-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

/* .team-item:not(:last-child) {
	margin-right: 30px;
} */

div.box-team {
  display: block;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--title-text-color);
}

.team-specialty {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--basic-text-color);
}

.list.social {
  display: flex;
  justify-content: center;
}

.item-social:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-background-color);
  fill: #afb1b8;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

/* Постоянные клиенты */

.list.clients {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-item {
  display: inline-flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.clients-link {
  display: inline-flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.clients-link {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Страница Портфолио */
.list.button-galary {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.filter-container {
  margin-bottom: 34px;
}

.filter-button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галлерея Портфолио */

.list.galary {
  display: flex;
  flex-wrap: wrap;
}

.item-galary {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-galary:nth-child(3n) {
  margin-right: 0px;
}

.item-galary:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card:hover .card,
.project-card:focus .card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.img-card {
  position: relative;
  overflow: hidden;
}

.text-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.project-card:hover .text-hover,
.project-card:focus .text-hover {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-text-color);

  /* opacity: 1; */
  transform: translateY(0);
}

div.project-caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.project-feature {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: var(--basic-text-color);
}

.project-text {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-text-color);
}

/* Футер */

.footer {
  background: var(--footer-background-color);
}

.main-footer {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;
}

.list.address {
  margin-top: 20px;
}

.item-address:not(:last-child) {
  margin-bottom: 9px;
}

div.footer-box {
  width: 270px;
  margin-right: 30px;
}

/* div.subscription-box {
  width: 570px;
} */

.content-box {
  width: 570px;
  display: flex;
  justify-content: space-between;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-text-color);
}

.address-link {
  margin-top: 9px;
  margin-bottom: 0;

  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-contacts-color);
}

.social.title {
  margin-bottom: 20px;
}

.social {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.list.social.footer {
  width: 206px;
  margin-right: auto;
}

.social-link.footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-background-social-links);
  fill: var(--white-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.social-link.footer:hover,
.social-link.footer:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* .button.subscription::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../img/svg/sprite.svg/#icon-icon-send);
} */

/* .form-group {
  margin-right: 12px;
} */

.label-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.email {
  display: block;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--basic-text-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.form-email {
  display: flex;
}

.form-email input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.icon-subscription {
  margin-left: 10px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 528px;
  min-height: 581px;
  /* padding: 40px; */

  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img-close {
  fill: currentColor;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.btn-close:hover .img-close,
.btn-close:focus .img-close {
  color: var(--accent-color);
}

.form-order {
  padding: 40px;
}

.form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 448px;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: currentColor;
  transition: outline-color var(--transition-duration)
    var(--transition-timing-function);
}

.icon-position {
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-input:focus,
.form-textarea:focus {
  outline-color: var(--accent-color);
  border: none;
}

.form-input:focus + .icon-position {
  fill: var(--accent-color);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  outline-color: currentColor;
  transition: outline-color var(--transition-duration)
    var(--transition-timing-function);
}

.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;

  color: var(--basic-text-color);
}

.form-position {
  position: relative;
}

.icon-position {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.check-input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.check {
  display: block;
  padding-left: 36px;
  margin-bottom: 30px;
}

.check-box {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-left: -29px;
  margin-top: 3px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.check-input:checked + .check-box {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);

  background-image: url(../img/svg/icon-check.svg);

  background-size: contain;
  background-origin: border-box;
}

.check-input:checked:focus + .check-box {
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.check-input:focus + .check-box {
  background-image: url(../img/svg/icon-check.svg);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--basic-text-color);
}

.check-link {
  text-decoration: underline;
  color: var(--accent-color);
}
