.contacts-list {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  & .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $basic-text-color;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}
